body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emojis {
    display: grid;
    grid-template-rows: repeat(2, 55%);
    grid-template-columns: repeat(4, 25%);
    gap: 20px;
  }

  .emojis > :nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  .emojis > :nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .emojis > :nth-child(3) {
    grid-column: 2 / 1;
    grid-row: 3 / 2;
  }
  
  .emojis > :nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 3 / 2;
  }

  .emoji {
    display: flex;
    flex-direction: column;
    border: 1px solid #222;
    border-radius: 10px;
    padding: 1.5rem;
    border-width: 2px;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    display: flex;
    position: relative;
    margin-top: auto;
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1.5rem;
    border-radius: 8px;
    font-size: 130%;
  }
  
  .icon {
    text-align: center;
    font-size: 4rem;
    order: -1;
  }