body{
    background-color: white;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */
.header{
    background-color: #51314d;
    top: 0;
    width: 100%;
}

/* Logo */
.logo{
    width: 150px;
}

/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #51314d;
    overflow: hidden;
    z-index: 99;
}

.menu a{
    display: block;
    padding: 30px;
    color: white;
}

.menu a:hover{
    background-color: rgb(225, 225, 225,0.25);
}

.nav{
    max-height: 0;
    transition: max-height .6s ease-in-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 15px 10px;
}


.hamb-line {
    background: white;
    display: block;
    height: 1px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after{
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;
}

/* Responsiveness */

@media (min-width: 760px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;
        color: white;
    }

    .hamb{
        display: none;
    }
}
.banner_container {
    font-family: 'Cormorant Garamond', serif;
    position: relative;
    text-align: center;
    color:  #51314d;
}

.banner {
    padding-top: 5px;
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.slogan {
    padding-top: 25px;
    width: 100%;
    height: 100px;
    background-color: rgb(255,255,255,0.7);
    font-size: 38px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    margin: auto;
    width: 96;
    padding: 2%;
}
.small_img {
    width: 100%;
    height: auto;
}

.big_img {
    width: 100%;
    height: auto;
}

.grouping {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grouping .small_img {
    grid-area: 1/1/1/1;
}
.grouping .big_img {
    grid-area: 2/2/3/4;
}

.rectangle_1{
    grid-area: 1/2/2/4;
    background-color: #97bc61;
}

.rectangle_2{
    grid-area: 2/1/2/1;
    background-color: #97bc61;
}

.long_rectangle {
    background-color: #b7c3f3;
    grid-area: 3/1/3/4;
}

.rectangle_1, .rectangle_2, .long_rectangle p{
    font-size: 80%;
    padding: 20px;
    color: white;
    text-align: center;
    line-height: 150%;
}

.bun_logo {
    width: 12%;
    padding-left: 12px;
}
footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: #51314d;
    padding-top: 30px;
    padding-bottom: 40px;
}
footer p {
    padding-top: 4%;
    padding-left: 5%;
}


h2 {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    font-size: 1em;
    font-weight: 700;
    padding-bottom: 10px;
}

h4 {
    font-size: 2rem;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #b7c3f3;
}

.textbox {
    width: 99%;
    height: 30px;
    margin-bottom: 8px;
    border: 2px solid black;
}

.messagebox {
    width: 99%;
    height: 130px;
    margin-bottom: 8px;
    border: 2px solid black;
}

.contact_button{
    background-color: #97BC61;
    color:  #51314d;
    font-size: 1.1rem;
}

.services_padding {
    padding: 10px;
}

.owner {
    width: 100%;
}